  <h2>Gradebook</h2>
  <% form_for [@course_term, @assignment] do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <th>Student</th>
        <th>Points Earned ((M)issed or (E)xcused)</th>
      </tr>
      <% f.fields_for :assignment_evaluations do |eval_fields| %>
        <%= eval_fields.hidden_field :enrollment_id %>
        <tr>      
          <td><%= eval_fields.object.enrollment.student.full_name %></td>        
          <td><%= eval_fields.text_field :points_earned, {:size => 2} %></td>
        </tr>
      <% end %>
      <tr>
        <td></td> 
        <td><%= f.submit "Submit" %></td>
      </tr>
    </table> 
  <% end %>