
<table>
  <thead>
    <th>Course</th>
    <th>Offering ID</th>      
    <th>Grading Period</th>
    <th>Start Date</th>
    <th>Grade</th>
    <th>Grade Post Date</th>
  </thead>
  <tbody>
    <% enrollments.each do |e| %>   
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= e.course_term.course.name %></td>
        <td><%= link_to e.course_term.code, e.course_term %></td>
        <td><%= e.course_term.term.begin_date %></td>        
        <td><%= e.course_term.term.begin_date %></td>        
        <td><%= e.grade %></td>        
        <td><%= "TODO" %></td>                        
      </tr>
    <% end %>
  </tbody>
</table>