<% title "Grading Scales" %>

<% content_for :sidebar do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<p><%= link_to "Add Scale", new_grading_scale_path %></p>

<table>
	<thead>
	 <tr>
		<th>Name</th>
		<th width='1'></th>
	 </tr>		
	</thead>
	<tbody>
		<% for scale in @scales %>
			<tr class="<%= cycle('odd', 'even')%>">
				<td><%= link_to scale.name, scale %></td>
				<td><%= link_to 'Delete', scale, :method => :delete, 
										:confirm => "Are you sure you want to delete\n\n '" + scale.name + "'?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>


