<% content_for :subnav do %>
  <%= nav_link :students %>
  <%= nav_link :teachers %>
  <%= nav_link :administrators %>
<% end %>

<% title "Listing All Teachers" %>
<p><%= link_to "Add Teacher", new_teacher_path %></p>
<div id="people">
  <%= render 'people/person_list_paginate', :people => @teachers %>
</div>

