
<% content_for :subnav do %>
  <%= nav_link :students %>
  <%= nav_link :teachers %>
  <%= nav_link :administrators %>
<% end %>

<% title "Teacher: #{@teacher.full_name}", false %>

<h2><%= @teacher.full_name %> <small><%= link_to 'edit', edit_teacher_path(@teacher) %></small></h2>

<h3>Details</h3>
<%= render 'people/person_detail', :person => @teacher %>

<% unless @teacher.user.blank? %>
<h3>User Account</h3>
<ul>
  <li><strong>login:</strong> <%= @teacher.user.email %></li>
  <li>last login: <%#= @teacher.user.last_login_at %></li>  
</ul>
<% end %>

<h3>Teaching:</h3>
<% @teacher.course_terms.each do |co| %>
  <h3><%= link_to co.code, co %> <small>(<%= co.school_year.name %>)</small></h3>
  <% if co.enrollments.empty? %>  
    <p class="error">No enrolled students</p>  
  <% else %>
    <%= render :partial => 'people/enrollments/roster', :locals => { :enrollments => co.enrollments } %>
  <% end %>  
  
<% end %>