<% stylesheet 'formtastic' %>

<div class='box span-13'>

  <% semantic_form_for person do |form| %>  
    <% form.inputs do %>
      
      <% if form.object.new_record? %>
        <%= form.input :code, :label => 'School ID' %>
      <% else %>
        <%= form.input :code, :label => 'School ID', :input_html => { :disabled => true } %>
      <% end %>        
      
      <%= form.input :firstname, :label => 'Firstname' %>
      <%= form.input :middlename, :label => 'Middlename' %>
      <%= form.input :lastname, :label => 'Lastname' %>
      <%= form.input :generation, :label => 'Generation', :collection => GENERATIONS_LIST, :include_blank => true %>
      <%= form.input :gender, :label => 'Gender', :collection => %w[Male Female], :include_blank => true %>
      <%= form.input :dob, :label => 'Dob' %>
      <%= form.input :primary_phone, :label => 'Primary phone' %>
      <%= form.input :secondary_phone, :label => 'Secondary phone' %>
      <%= form.input :email, :label => 'Email' %>
    <% end %>  
  
 
    <% form.buttons do %>
      <%= form.commit_button 'Save' %> | <%= link_to 'Cancel', person %>
    <% end %>
    
  <% end %>
</div>