<ul>
  <li><strong>First Name:</strong> <%= person.firstname %></li>
  <li><strong>Middle Name:</strong> <%= person.middlename %></li>
  <li><strong>Last Name:</strong> <%= person.lastname %></li>
  <li><strong>Generation Name:</strong> <%= person.generation %></li>
  <li><strong>School ID:</strong> <%= person.code %></li>
  <li><strong>gender:</strong> <%= person.gender %></li>  
  <li><strong>dob:</strong> <%= person.date_of_birth %></li>    
  <li><strong>email:</strong> <%= person.email %></li>
  <li><strong>phone:</strong> <%= person.primary_phone %></li>
  <li><strong>phone2:</strong> <%= person.secondary_phone %></li>
</ul>