
<table id="types" class="master">
  <thead>
    <tr>
    <th>Type</th>
    <th></th>
    </tr>
  </thead>
	<tbody>
  	<tr class="odd" onclick="location.href='<%= people_url %>'">
      <td><%= link_to 'All', people_path %></td>
			<td></td>
	  </tr>
  	<tr class="even" onclick="location.href='<%= administrators_url %>'">
      <td><%= link_to 'Administrators', administrators_path %></td>
			<td><%= button_to( 'Add', new_administrator_url , :method => :get, :class => 'btn standard sml' ) %></td>
	  </tr>
    <tr class="odd" onclick="location.href='<%= students_url %>'">
      <td><%= link_to 'Students', students_path %></td>
      <td><%= button_to( 'Add', new_student_url , :method => :get, :class => 'btn standard sml' ) %></td>
    </tr>			  
  	<tr class="even" onclick="location.href='<%= teachers_url %>'">
      <td><%= link_to 'Teachers', teachers_path %></td>
		  <td><%= button_to( 'Add', new_teacher_url , :method => :get, :class => 'btn standard sml' ) %></td>
	  </tr>	
    <tr class="odd" onclick="location.href='<%= teacher_assistants_url %>'">
      <td><%= link_to 'Teacher Assistants', teacher_assistants_path %></td>
      <td><%= button_to( 'Add', new_teacher_assistant_url , :method => :get, :class => 'btn standard sml' ) %></td>
    </tr>		   	   	   
  </tbody>
</table>

