<h2><%= @person.full_name %> <small><%= link_to 'edit', edit_person_path(@person) %></small></h2>

<h3>Details</h3>
<ul>
  <li><strong>School ID:</strong> <%= @person.code %></li>
  <li><strong>gender:</strong> <%= @person.gender %></li>  
  <li><strong>dob:</strong> <%= @person.date_of_birth %></li>    
  <li><strong>email:</strong> <%= @person.email %></li>
  <li><strong>phone:</strong> <%= @person.primary_phone %></li>
  <li><strong>phone2:</strong> <%= @person.secondary_phone %></li>
</ul>

<% unless @person.roles.blank? %>
<h3>Roles</h3>
<p>
  <% @person.roles.each do |role| %>
    <%= role.class.name %>,
  <% end %>
</p>  
<% end %>



<% unless @person.user.blank? %>
<h3>User Account</h3>
<ul>
  <li><strong>login:</strong> <%= @person.user.email %></li>
  <li>last login: <%#= @person.user.last_login_at %></li>  
</ul>
<% end %>

