
<h2><%= @student.full_name %> <small><%= link_to 'edit', edit_student_path(@student) %></small></h2>

<ul>
<li><strong>School ID:</strong> <%= @student.school_number unless @student.school_number.blank? %></li>
<li><strong>Site:</strong> <%= @student.site.name unless @student.site.blank? %></li>
<li><strong>Projected Graduation:</strong> <%= @student.class_of unless @student.class_of.blank? %></li>
</ul>

<h3>Schedule</h3>
<%= render :partial => 'users/enrollments/schedule', :locals => { :enrollments => @student.enrollments } %>

<h3>Assignments</h3>
<%= render :partial => 'users/assignment_evaluations/assignments', :locals => { :student_assignments => @student.assignment_evaluations } %>