
<div class="box">
  <h3>Settings</h3>
  <ul>
    <%= nav_link :assignment_categories, :label => "assignment_types" %>
    <%= nav_link :sites, :label => "campus_sites" %>
    <%= nav_link :buildings, :rooms, :label => "buildings_and_rooms" %>
    <%= nav_link :school_years, :label => "grading_periods" %>
    <%= nav_link :grading_scales %>
    <%= nav_link :imports, :label => "import_data" %>
    <%= nav_link :supporting_skill_categories, :label => "supporting_skills" %>  
  </ul>
</div>


