<div class='box span-13'>
  <% form_for administrator do |f| %>  
    <fieldset>
      <%= f.label :code, "School ID" %>
      <%= f.text_field :code, :class => 'input' %>
      <br />               
      <%= f.label :firstname, {}, :class => 'req' %>
      <%= f.text_field :firstname, :class => 'input' %>
      <br />
      <%= f.label :middlename, {} %>
      <%= f.text_field :middlename, :class => 'input' %>
      <br />      
      <%= f.label :lastname, {}, :class => 'req' %>
      <%= f.text_field :lastname, :class => 'input' %>
      <br />
      <%= f.label :generation %>
      <%= f.select(:generation, GENERATIONS_LIST, :include_blank => true) %>
      <br/>      
      <%= f.label :gender %>
      <%= f.select(:gender, %w[Male Female], :include_blank => true) %>
      <br/>
      <%= f.label :date_of_birth, "Birth Date" %>
      <%= f.text_field :date_of_birth, :size => 8 %>
      <br/>
      <%= f.label :email, {}, :class => '' %>
      <%= f.text_field :email, {:size => 20, :class => 'input'} %>
      <br />
      <%= f.label :primary_phone, "Primary Phone" %>
      <%= f.text_field :primary_phone, {:size => 10, :class => 'input'} %>    
      <br/>
      <%= f.label :secondary_phone, "Secondary Phone" %>
      <%= f.text_field :secondary_phone, {:size => 10, :class => 'input'} %>  
      <br/>            


      <div class="spacer">
        <%= submit_tag 'Save', :class => 'btn positive' %>
        <%= link_to 'Cancel', administrator %>
      </div>
    </fieldset>
  <% end %>
</div>