<% content_for :subnav do %>
  <%= nav_link :students %>
  <%= nav_link :teachers %>
  <%= nav_link :administrators %>
<% end %>


<% title "Listing All Administrators" %>
<p><%= link_to "Add Administrator", new_administrator_path %></p>
<div id="people">
  <%= render 'people/person_list_paginate', :people => @administrators %>
</div>  


