<% content_for :sidebar do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Category Name <%= link_to '+ Add a new category', new_supporting_skill_category_path %> </th>
      <th width='1'></th>
    </tr>
  </thead>
  <tbody>
    <% for category in @skill_categories %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to category.name, category %> <small>Skills: <%= category.supporting_skills.count %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>


