
<% if enrollments.empty? %>
  <p class="error"> No course have been scheduled at this time.</p>
<% else %>
  <table>
    <thead>
      <th>Student</th>   
      <th>Points Earned</th>
      <th>Grade</th>
      <th>Grade Post Date</th>
    </thead>
    <tbody>
      <% enrollments.each do |e| %>   
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= e.student.full_name %></td>
          <td><%= e.total_points_earned %></td>
          <td><%= e.grade %></td>        
          <td><%= "TODO" %></td>                        
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>