
<% if enrollments.empty? %>
  <p class="error"> No course have been scheduled at this time.</p>
<% else %>
  <table>
    <thead>
      <th>Course</th>
      <th>Offering ID</th>     
      <th>School Year</th>
      <th>Start Date</th>
      <th>Grade</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% enrollments.each do |e| %>   
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= e.course_term.course.name %></td>
          <td><%= link_to e.course_term.code, e.course_term %></td>
          <td><%= e.course_term.catalog.name %></td>        
          <td><%= e.course_term.catalog.starts_on %></td>        
          <td><%= e.grade %></td>        
          <td><%= link_to "assignments", sco_assignment_evaluations_path(student, e) %></td>
          <td><%= link_to "drop", confirm_drop_student_enrollment_path(student, e) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>