<% stylesheet 'formtastic', 'style/forms' %>

<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<% title 'Campus Sites' %>

<%= error_messages_for "site" %>

<div class='box span-13'>
  <% semantic_form_for @site do |form| %>

    <% form.inputs do %>
      <%= form.input :name, :label => 'Name', :required => true, :input_html => {:class => 'focus'} %>
    <% end %>
			
    <% form.buttons do %>
      <%= form.commit_button 'Save' %> | <%= link_to 'Cancel', sites_path %>
    <% end %>
    </fieldset>
  <% end %>
</div>
