<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<% title 'Campus Sites' %>
<%= error_messages_for "site" %>

<p><%= link_to "Add Site", new_site_path() %></p>
<table>
	<thead>
	 <tr>
		<th>Name</th>
		<th width='1'></th>
	 </tr>		
	</thead>
	<tbody>
		<% for site in @sites %>
			<tr class="<%= cycle('odd', 'even')%>">
				<td><%= link_to site.name, edit_site_path(site) %></td>
				<td>
				<%= link_to 'Delete', site, :method => :delete,
                  :id => site.id,
									:confirm => "Are you sure you want to delete the '" + site.name + "' campus?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
