<% content_for :sidebar do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Topic Name <%= link_to '+ Add a new topic', new_topic_path %> </th>
    </tr>
  </thead>
  <tbody>
    <% for topic in @topics %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to topic.name, topic %> <small>Objectives: <%= topic.objectives.count %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>


