<% content_for :sidebar do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>


<h3><%= @topic.name %> <small><%= link_to 'edit', [:edit, @topic] %></small></h3>

<table>
  <thead>
    <th>Description</th>
    <th>Enable</th>
  </thead>
  <tbody>
  <% @topic.objectives.each do |objective| %>
    <tr class="<%= cycle("odd","even") %>">
      <td>
        <%= objective.description %> 
      </td>
      
      <td>
        <%= objective.active %>
      </td>
      
    </tr> 
  <% end %>
  </tbody>
</table>
