<% content_for :left do %>
	<%= render :partial => 'settings/settings_list' %>
<% end %>

<% title "Assignment Types" %>
<%= error_messages_for "assignment_categories" %>

<p><%= link_to "Add Type", new_assignment_category_path() %></p>
<table>
	<thead>
	 <tr>
		<th>Name</th>
		<th width='1'></th>
	 </tr>		
	</thead>
	<tbody>
		<% for type in @types %>
			<tr class="<%= cycle('odd', 'even')%>">
				<td><%= link_to type.name, edit_assignment_category_path(type) %></td>
				<td><%= link_to 'Remove', type, :method => :delete,
										:confirm => "Are you sure you want to delete the '" + type.name + "' assignment type?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
