
<h2><%= @student.full_name %> <small><%= link_to 'edit', edit_student_path(@student) %></small></h2>

<h3>Details</h3>
<ul>
  <li><strong>School ID:</strong> <%= @student.code %></li>
  <li><strong>gender:</strong> <%= @student.gender %></li>  
  <li><strong>dob:</strong> <%= @student.date_of_birth %></li>    
  <li><strong>email:</strong> <%= @student.email %></li>
  <li><strong>phone:</strong> <%= @student.primary_phone %></li>
  <li><strong>phone2:</strong> <%= @student.secondary_phone %></li>
</ul>

<% unless @student.user.blank? %>
<h3>User Account</h3>
<ul>
  <li>login: <%= @student.user.login %></li>
  <li>last login: <%= @student.user.last_login_at %></li>  
</ul>
<% end %>

<h3>Schedule</h3>
<%= render :partial => 'people/enrollments/schedule', :locals => { :enrollments => @student.enrollments } %>

<h3>Assignments</h3>
<%= render :partial => 'people/assignment_evaluations/assignments', :locals => { :student_assignments => @student.assignment_evaluations } %>