<% form_for @building do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :site_id %><br />
    <%= collection_select(:building, :site_id, sites, :id, :name, {:include_blank => true}) 
 %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Submit" %> | <%= link_to "Cancel", buildings_path %></p>
<% end %>
