<% title "Buildings" %>

<%= link_to "Add New Building", new_building_path %>


<table>
  <thead>
    <th>Building</th>
    <th>Site</th>
    <th></th>
  </thead>
  <% for building in @buildings %>
    <tr class="even">
      <td><%= link_to building.name, building %> <small><%= link_to "edit", edit_building_path(building) %></small></td>
      <td><%= link_to building.site.name, building.site %></td>
      <td><%= link_to "Destroy", building, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <tr>
      <td colspan="2">
        <small><%= link_to "Add Room", new_building_room_path(building) %></small>
        <ul>
        <% building.rooms.each do |room| %>
          <li><%= link_to room.name, [building, room] %> (<%= room.seats %>)</li>
        <% end %>
        </ul>      
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Building", new_building_path %></p>
