<div id='course_list'>
  <div class="span-24">
    <% @courses.each do |course| %>
    
      <div class="span-12 <%= cycle('even', 'odd') + (current_page?(:id => course) ? ' current' : '') %>" >
        <h3><%= course.name %> (<%= course.code %>) <small><%= link_to "Edit", [:edit, course] %></small></h3>
        <p>Grading Scale: <%= course.grading_scale.name  %></p>
      </div>
      <div class="span-12 last">
        <%= link_to "Create Course Offering", root_path %>
      </div>    
    <% end %>
  </div>  

</div>