<% title "Courses", false %>

<div class="title">
  <h2>Courses <small><%= link_to 'Add New Course', new_course_path %></small></h2>
</div>

<div id='course_list'>  
  <table>
    <thead>
      <th>Course Code</th>
      <th>Name</th>  
      <th width='1'></th>    
    </thead>
    <tbody>      
      <% @courses.each do |course| %> 
        <tr class="<%= cycle("odd","even") %>">
          <td><%= course.code %></td>        
          <td><%= link_to course.name, course %></td>
          <td><%= link_to "edit", [:edit, course] %></td>
        </tr>
      <% end %>          
    </tbody>
  </table>
  <%= will_paginate @courses %>
</div>
