<% title "Courses", false %>

<div class="title">
  <h2>Courses <small><%= link_to 'Add New Course', new_course_path %></small></h2>
</div>

<div id='course_list'>  
  <table>
    <thead>
      <th>Course Name (ID)</th>
    </thead>
    <tbody>      
      <% @courses.each do |course| %> 
        <tr class="<%= cycle("odd","even") %>">
          <td><strong><%= link_to course.name, course %> (<%= course.code %>)</strong> <small><%= link_to "Edit", [:edit, course] %></small></td>
        </tr>
      <% end %>          
    </tbody>
  </table>
  <%= will_paginate @courses %>
</div>
