<% title @course.name, false %>


<div class="title">
  <h2><%= @course.name %> (<%= @course.code %>)</strong> <small><%= link_to "Edit", [:edit, @course] %></small></h2>
</div>

<div class="box"> 
  <h2>Sections <small><%= link_to "Create New Section", new_course_term_path(:course_id => @course) %></small></h2>
  <table>
    <thead>
      <th>Section</th>
      <th>School Year</th>
      <th>Start Date</th>    
    </thead>
    <tbody>
      <% @course.course_terms.each do |co| %>
      <tr>
        <td><%= link_to co.code, co %></td>
        <td><%= co.school_year.name %></td>
        <td><%= co.school_year.terms.first.begin_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>