<% content_for :subnav do %>
  <%= nav_link :students %>
  <%= nav_link :teachers %>
  <%= nav_link :administrators %>
<% end %>

<h2><%= @student.full_name %> <small><%= link_to 'edit', edit_student_path(@student) %></small></h2>

<h3>Details</h3>
<%= render 'people/person_detail', :person => @student %>

<% unless @student.user.blank? %>
<h3>User Account</h3>
<ul>
  <li><strong>login:</strong> <%= @student.user.email %></li>
  <li>last login: <%#= @student.user.last_login_at %></li>  
</ul>
<% end %>


<h3>Schedule</h3>
<%= render :partial => 'people/enrollments/schedule', :locals => { :enrollments => @student.enrollments } %>

<h3>Assignments</h3>
<%= render :partial => 'people/assignment_evaluations/assignments', :locals => { :student_assignments => @student.assignment_evaluations } %>