<tr class="<%= cycle('odd', 'even') %>">
  <td><%= link_to course_term.code, course_term %></td>
  <td><%= "#{course_term.course.name} (#{course_term.course.code})" %> </td>
  <%= content_tag :td, "#{course_term.teacher.full_name} (#{course_term.teacher.code})" %>
  <td><%= course_term.school_year.name %> </td>      
  <td><%= course_term.enrollments.size %></td>            
</tr>