<% stylesheet 'formtastic', 'styles/forms' %>

<div class="box">
  <% semantic_form_for course_term do |form| %> 
    <%= form.error_messages %>
    <% form.inputs do %>
      <% if course_term.new_record? %>
        <%= form.input :code, :label => 'Section ID', :required => true %>
      <% else %>
        <%= form.input :code, :label => 'Section ID', :input_html => { :disabled => true } %>
      <% end %>       
      
      <%= form.input :course, :label => 'Course', :required => true, :collection => current_user.school.courses.all.collect {|r| [ r.name + ' (' + r.code + ')', r.id]} %>
      
      
      <%= form.input :grading_scale, :collection => grading_scales, :required => true %>
      
      <%= form.input :school_year, :label => 'School Year', :required => true, :collection => current_user.school.school_years.all.collect {|r| [ r.name, r.id]} %>
      <%= form.input :teacher, :label => 'Teacher', :collection => current_user.school.teachers.all.collect {|r| [ r.full_name , r.id]} %>
      <%= form.input :room, :label => 'Room', :collection => current_user.school.rooms.collect {|r| [ r.building.name + '/' + r.name + ' (' + r.seats.to_s + ')', r.id]} %>
      <%= form.input :seats, :label => 'Seats' %>
    <% end %>
      
    <% form.buttons do %>
      <%= form.commit_button 'Save' %> | <%= link_to 'Cancel', course_term %>
    <% end %>      
      

  <% end %>
</div>