<% stylesheet 'formtastic' %>

<%= error_messages_for :course_term, :header_message => "Please Try Again!", :message => "We had some problems saving your changes:" %>

<div class="box span-14">
  <h3><%= course_term.new_record? ? 'New Course Section' : 'Edit Course Section' %></h3>
  <% semantic_form_for course_term do |form| %> 
  
    <% form.inputs do %>
      <% if course_term.new_record? %>
        <%= form.input :code, :label => 'Section ID' %>
      <% else %>
        <%= form.input :code, :label => 'Section ID', :input_html => { :disabled => true } %>
      <% end %>       
      
      <%= form.input :course, :label => 'Course', :collection => current_user.school.courses.all.collect {|r| [ r.name + ' (' + r.code + ')', r.id]} %>
      <%= form.input :term, :label => 'Grading Term', :collection => current_user.school.terms.all.collect {|r| [ r.name + ' (' + r.begin_date.to_s + ' - ' + r.end_date.to_s + ')', r.id]} %>
      <%= form.input :teacher, :label => 'Teacher', :collection => current_user.school.teachers.all.collect {|r| [ r.full_name , r.id]} %>
      <%= form.input :room, :label => 'Room', :collection => current_user.school.rooms.collect {|r| [ r.building.name + '/' + r.name + ' (' + r.seats.to_s + ')', r.id]} %>
      <%= form.input :seats, :label => 'Seats' %>
    <% end %>
      
    <% form.buttons do %>
      <%= form.commit_button 'Save' %> | <%= link_to 'Cancel', courses_url %>
    <% end %>      
      

  <% end %>
</div>