<div class="span-24">
  
  <% unless @course_terms.blank? %>
    <h2>My Courses <small><%= link_to "New Course Section", new_course_term_path %></small></h2>
    <table>
      <thead>
        <th>Section ID</th>
        <th>Course</th>
        <%= content_tag :th, "Instructor" unless current_user.type == 'Teacher' || current_user.type == 'TeacherAssistant' %>
        <th>Grading Period</th>
        <th>Enrollments</th>
      </thead>
      <tbody>  
        <%= render :partial => @course_terms, :locals => {:role => current_user.type} %>      
      </tbody>
    </table>
    <% will_paginate @course_terms %>
  <% end %>
  
  <% unless @all_course_terms.blank? %>
    <h2>All Course Sections <small><%= link_to "New Course Section", new_course_term_path %></small></h2>
    <table>
      <thead>
        <th>Section ID</th>
        <th>Course</th>
        <th>Instructor</th>
        <th>Grading Period</th>
        <th>Enrollments</th>
      </thead>
      <tbody>  
        <%= render :partial => @all_course_terms, :locals => {:role => current_user.type} %>      
      </tbody>
    </table>
    <% will_paginate @all_course_terms %>
  <% end %>  
</div>