<% content_for :left do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>

<% form_for @defaults, :url => update_multiple_site_defaults_path, :html => { :method => :put } do |f| -%>

  <% @defaults.each do |default| %>
  <div class='box span-13 prepend-5 last'>
      <%= f.hidden_field "default_ids[]", :value => default.id %>
      <%= f.label :name, t(default.name.downcase) %><br />
      <%= f.text_field :value, :value => default.value %>
  </div>
  <% end %>
  <div class="span-13 last">
  <%= f.submit 'Update', :disable_with => 'Please wait...' %>
  </div>
<% end -%>

