<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(yield(:title) || "#{Gradesheet[:site_name]} - #{controller.controller_name.humanize}") %></title>
    
    <%= stylesheet_link_tag 'style' -%>
    
    <%= yield(:head) %>
    <%= @content_for_page_header -%>    
     
     
  <% if @content_css.nil?
    if @content_for_sidebar
      @content_css = 'g720'
    else
      @content_css = 'g960'
    end
  end %>     
     
     
  </head>
  <body>
    
    <div id='header'>
      <div class="main">
        <div class="g960">
          <h1><%= Gradesheet[:site_name] %></h1> 
          <div id='account-info'>
            <%= render 'shared/account_header' %>
          </div>         
        </div>
      </div>
    </div>        
    
    <div id="nav">      
      <div class="main">
        <div class="g960">
          <ul>
            <%= nav_link :root, :label => 'home', :match_path => :root %>
            <% if signed_in? %>
              <%= nav_link :people, :students, :administrators, :teachers %>
              <%= nav_link :courses %>
              <%= nav_link :course_terms, :label => 'course sections' %>
              <%= nav_link :assignments, :assignment_evaluations %>
              <%= nav_link :settings, :imports, :sites, :buildings, :rooms, :assignment_categories, :catalogs, :grading_scales %>
            <% else %>
              <%= nav_link :sign_in %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>     
    
    <% unless @content_for_subnav.blank? %>
    <div id="subnav">
      <div class="main">
        <div class="g960">    
          <ul>
            <%= yield :subnav  %>
          </ul>
        </div>
      </div>
    </div>    
    <% else %>
      <div class="whitebar"></div>
    <% end %>

    <div class="clear whitespace"></div>

    <% unless flash.empty? %>
    <div id='flash' class="main">
      <div class='g960'>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :class => "#{name}"  %>
        <% end %>
      </div>
    </div>
    <% end %>


        
    <div class='main'>   
      <div id="content">
        <div class="<%= @content_css %>">
          <% unless @breadcrumbs.blank? %>
            <ul class="breadcrumbs"><%= breadcrumbs %></ul>
          <% end %>
          <%- if show_title? -%>
            <div class="title">
              <h2><%=h yield(:title) %></h2>
            </div>
          <%- end -%>        
          <%= yield  %>
        </div>
      <% if @content_for_sidebar %>
        <div id="sidebar" class='g240'>
          <%= yield :sidebar  %>
        </div> 
      <% end %>        
      </div>
      
    </div>   
    
    <div class="clear whitespace"></div>

    <div id='footer'>
      <div class="main">
        <p class="left">
          adapted from Gradesheet by Matt Anderson in 2010
        </p>
        <p class="right">          
          <%= link_to "Home", root_path %> 
          <% if signed_in? %>
            | <%= link_to "People", people_path %> |
            <%= link_to "Courses", courses_path %> |
            <%= link_to "Course Sections", course_terms_path %> | 
            <%= link_to "Assignments", assignments_path %> |
            <%= link_to "Settings", settings_path %>
          <% end %>
        </p>        
      </div>
    </div>


    <%= @content_for_page_footer -%>
    <%= render :file => 'layouts/analytics.inc' if File.exist?(RAILS_ROOT + '/app/views/layouts/analytics.inc') %>
  </body>
</html>
