<div class="term box">
    <%= error_messages_for :term %>

    <%= f.label :name, "Grading Period Name" %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :begin_date %>
    <%= f.date_select :begin_date %>
    <br />
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
    <br />
    <%= f.label :active %>
    <%= f.check_box :active %>
    <br />
    <%= remove_link_unless_new_record(f) -%>
</div>