<% title "School Years" %>

<% content_for :sidebar do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>

<p><%= link_to "New School Year", new_school_year_path %></p>


<% for year in @years %>
<div class="box">
  <h3><%= link_to year.name, [:edit, year] %></h3>

  <table class="master">
    <thead>
      <tr>
        <th>Period Name</th>
        <th>Begin Date</th>
        <th>End Date</th>
        <th>Locked?</th>
      </tr>
    </thead>
    <tbody>
      <% for term in year.terms.sort {|a,b| a.end_date <=> b.end_date} %>
        <tr class="<%= cycle('odd', 'even')%>" onclick="location.href='<%= edit_school_year_path(year) %>'">
          <%= content_tag :td, link_to(term.name, edit_school_year_path(year)) %>
          <%= content_tag :td, term.begin_date %>
          <%= content_tag :td, term.end_date %>
          <%= content_tag :td, ( check_box_tag :locked, term.locked, term.locked, :disabled => true ) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

